<h1>Haikuで繋がる</h1>

<p>こんにちは<%= @user.name %>さん</p>

<p>
俳句の世界へようこそ！下のリンクをクリックして、登録を完了させてください。
</p>

<%= link_to "アカウントの有効化", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>