<h1 class="first">縦文字変換</h1>


<textarea class="content1"></textarea><br>
<button class="btn btn-primary click">縦に変換</button>

<br>
<% if logged_in? %>

  <%= form_for(@post) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    
    <%= f.text_area :content, placeholder: "ここに縦文字の俳句が表示されます。", :id => "txtbox",
    :size => "600x50", :class => "content2" %><br />
    <button id="tweet"class="btn btn-primary"><i class="fab fa-twitter"></i> ツイート</button>
    <%= f.submit "投稿する", class: "btn btn-primary" %>
  <% end %>
  
<% else %>
  <textarea placeholder = "ここに縦文字の俳句が表示されます。", id = "txtbox",
    size = "600x50", class = "content2"></textarea><br />
  <button id="tweet"class="btn btn-primary"><i class="fab fa-twitter"></i> ツイート</button>
<% end %>


<script>
    document.getElementById("tweet").addEventListener('click', function(event) {
        event.preventDefault();
        var left = Math.round(window.screen.width / 2 - 275);
        var top = (window.screen.height > 420) ? Math.round(window.screen.height / 2 - 210) : 0;
        window.open(
            "https://twitter.com/intent/tweet?text=" + encodeURIComponent(document.getElementById("txtbox").value),
            null,
            "scrollbars=yes,resizable=yes,toolbar=no,location=yes,width=550,height=420,left=" + left + ",top=" + top);
    });
</script>





<script>
  var toFullWidth = function(value) {
    if (!value) return value;
    return String(value).replace(/[!-~]/g, function(all) {
        return String.fromCharCode(all.charCodeAt(0) + 0xFEE0);
    });
  };
  $(".click").click(function(){
    var con = $(".content1").val();
    con = con.split(/\n/g);
    
    var max_vert = Math.max.apply(null,con.map(function(value){
      return (value.length);
    }));
    
    var e = "";
    
    for(var i=0;  i < max_vert;  i++){
      for (var p = con.length - 1; p > -1; p--) {
        var content = con[p];
        if(content.length === 0){
          e += "　"
        }else{
          var one_char = content.split("")[i];
          
          if(one_char !== undefined){
            e += one_char
          }else{
            e += "　"
          }
        }
      }
      e += "\n"
    }
    var k = toFullWidth(e)+"\n"+"https://vertical-tweet.herokuapp.com/"+"\n"+"#縦文字変換";
    k = k.replace(/ー/g, "│").replace(/）/g, "︶").replace(/（/g, "⌒")

    $(".content2").text(k);
  });
</script>

<script>
  

