<% provide(:title, "俳句") %>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render @post %>
    </div>
    
    <div class="col-md-9">
      
    </div>
  </div>
</div>


<style>
  li {
    display: block;
  }
</style>
