@import "bootstrap-sprockets";
@import "bootstrap";
/* typography */
.navbar-inverse{
  background-color: #BECCD4;
}

.container2 {
  margin-top: 30px;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #BECCD4;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

.navbar-inverse{
  border-color: #BECCD4;
}

.logo{
  margin-top:10px;
}
.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus{
    background-color: #BECCD4;
}


h1.first {
  padding-top: 50px;
}
.label{
  text-align: center;
}

textarea {
  min-height: 180px;
  max-height: 180px;
  min-width: 340px;
  max-width: 340px;
}

.btn-primary {
  padding: 5px 20px 5px 20px;
  margin-bottom: 20px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

#search_result{
  /*
  position: absolute;
  top: 47px;
  */
}

#windows{
  /*
  background-color: white;
  width: 320px;
  border: solid 1px #000000;
  height: 26px;
  */
  }

.window{
  color: black;
  text-align: center;
  /*
  display: block;
  width: 100%;
  */
  padding: 5px;
  &:hover{
    background-color: #999999;
    color: black;
    border: 0;
  }
}


.item p{
    margin: 0px;
}

.isEven{
    background-color: #dddddd;
}

/*フォーム全体*/

/*検索ボックス*/
#form1{
outline: 0;/*クリック時の青い枠線消す*/	
height: 50px;/*検索ボックスの高さ*/	
padding: 4px 80px 3px 3px;/*テキスト位置調整*/	 
border-radius: 2px 0 0 2px;/*検索ボックスの角を丸める*/		
background:#eee;/*検索ボックスの背景カラー*/	
display: block;
margin: 14px 0 0 0;

position: relative;

}
/*検索ボタン*/
.searchsubmit{
width: 50px;/*検索ボタンの横幅*/ 
height: 30px;/*検索ボタンの縦幅*/ 
display: block;
border-radius: 0 2px 2px 0;/*検索ボタンの角を丸める*/ 
background: #7fbfff;/*検索ボタンの背景カラー*/ 
border: none;/*検索ボタンの枠線を消す*/ 
color: #fff;/*検索ボタンのテキストカラー*/ 
font-weight: bold;/*検索ボタンのテキスト太字*/ 
font-size: 16px;/*検索ボタンのフォントサイズ*/
margin: 15px 15px 15px 3px;
}


/*検索ボタンマウスオーバー時*/
.searchsubmit:hover{
color: #666;/*検索ボタンマウスオーバー時のフォントカラー*/ 
}

.popover {
  border-radius: 0;
  width: 400px;
  
  .arrow{
    display: none;
  }
}
.popover-body {
  background: #fff;
  padding: 0;
  
}
.btn-gradient-3d-orange {
  display: inline-block;
  padding: 3px 6px 3px 6px;
  margin-top: 13px;
  margin-left: 5px;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #c58668;
}

.btn-gradient-3d-orange:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}
.btn-gradient-3d{
  padding: 10px 16px 10px 16px;
  display: inline-block;

  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #c58668;
  cursor : pointer;
}
.btn-gradient-3d:active {
-webkit-transform: translateY(4px);
transform: translateY(4px);
box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
border-bottom: none;
}
