@import "bootstrap-sprockets";
@import "bootstrap";
/* typography */
header{
  margin: 0;
}
.navbar-inverse{
  background-color: #BECCD4;
}
.red {
  color: red;
  margin-right: 17px;
}

.container2 {
  margin-top: 30px;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
ul {
  list-style: none;
}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #BECCD4;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

.navbar-inverse{
  border-color: #BECCD4;
}

.logo{
  margin-top:10px;
}
.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus{
    background-color: #BECCD4;
}

.navbar{
  margin: 0;
}
h1.first {
  margin: 0;
  padding-top: 20px;
}
.label{
  text-align: center;
}

textarea {
  min-height: 180px;
  max-height: 180px;
  min-width: 340px;
  max-width: 340px;
}

.btn-primary {
  padding: 5px 20px 5px 20px;
  margin-bottom: 20px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

#search_result{
  /*
  position: absolute;
  top: 47px;
  */
}

#windows{
  /*
  background-color: white;
  width: 320px;
  border: solid 1px #000000;
  height: 26px;
  */
  }

.window{
  color: black;
  text-align: center;
  /*
  display: block;
  width: 100%;
  */
  padding: 5px;
  &:hover{
    background-color: #999999;
    color: black;
    border: 0;
  }
}


.item p{
    margin: 0px;
}

.isEven{
    background-color: #dddddd;
}

/*フォーム全体*/

/*検索ボックス*/
#form1{
  outline: 0;/*クリック時の青い枠線消す*/	
  height: 50px;/*検索ボックスの高さ*/	
  padding: 4px 80px 3px 3px;/*テキスト位置調整*/	 
  border-radius: 2px 0 0 2px;/*検索ボックスの角を丸める*/		
  background:#eee;/*検索ボックスの背景カラー*/	
  display: block;
  margin: 14px 0 0 0;
  
  position: relative;

}
/*検索ボタン*/
.searchsubmit{
  width: 50px;/*検索ボタンの横幅*/ 
  height: 30px;/*検索ボタンの縦幅*/ 
  display: block;
  border-radius: 0 2px 2px 0;/*検索ボタンの角を丸める*/ 
  background: #7fbfff;/*検索ボタンの背景カラー*/ 
  border: none;/*検索ボタンの枠線を消す*/ 
  color: #fff;/*検索ボタンのテキストカラー*/ 
  font-weight: bold;/*検索ボタンのテキスト太字*/ 
  font-size: 16px;/*検索ボタンのフォントサイズ*/
  margin: 15px 15px 15px 3px;
}


/*検索ボタンマウスオーバー時*/
.searchsubmit:hover{
color: #666;/*検索ボタンマウスオーバー時のフォントカラー*/ 
}

.popover {
  border-radius: 0;
  width: 400px;
  
  .arrow{
    display: none;
  }
}
.popover-body {
  background: #fff;
  padding: 0;
  
}
.btn-gradient-3d-orange {
  display: inline-block;
  padding: 3px 6px 3px 6px;
  margin-top: 13px;
  margin-left: 5px;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #c58668;
}

.btn-gradient-3d-orange:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}
.btn-gradient-3d{
  padding: 10px 16px 10px 16px;
  display: inline-block;

  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #c58668;
  cursor : pointer;
}
.btn-gradient-3d:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}
#paper, #paper1 {
  margin-left: 150px;
  position: relative;
}
#paper-result1, #paper-result {
  position: absolute;
  top: 90px;
  left: 220px;
  font-family: 游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN","Hiragino Mincho Pro",HGS明朝E,メイリオ,Meiryo,serif;
  font-weight: bold;
  font-size: 14px;
}



.first, h1 {
  font-family: 游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN","Hiragino Mincho Pro",HGS明朝E,メイリオ,Meiryo,serif;
}
.btn-circle-border-simple {
  display: inline-block;
  text-decoration: none;
  color: #668ad8;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  border: solid 2px #668ad8;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  font-weight: bold;
  transition: .4s;
  z-index: 100;
}

input.btn-circle-border-simple{
  margin: 0;
}


.circle-button{
  padding-top: 30px;
}
.paper-cha{
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: upright;
  }


/**********new form***********/



.submit-form{
  margin-left: -30px;
}
.left{
  text-align: left;
}
.sub-bt{
  width: 60%;
}
 .cp_iptxt {
	position: relative;
	width: 60%;
	margin: 40px 3%;
}
.cp_iptxt input[type=text] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	margin: 8px 0;
	padding: 0.3em;
	transition: 0.3s;
	border: 1px solid #1b2538;
	border-radius: 4px;
	outline: none;
	
}
.cp_iptxt input[type=email] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	margin: 8px 0;
	padding: 0.3em;
	transition: 0.3s;
	border: 1px solid #1b2538;
	border-radius: 4px;
	outline: none;
}
.cp_iptxt input[type=password] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	margin: 8px 0;
	padding: 0.3em;
	transition: 0.3s;
	border: 1px solid #1b2538;
	border-radius: 4px;
	outline: none;
}
.cp_iptxt input[type=text]:focus {
	border-color: #da3c41;
}
.cp_iptxt input[type=email]:focus {
	border-color: #da3c41;
}
.cp_iptxt input[type=password]:focus {
	border-color: #da3c41;
}
.cp_iptxt input[type=text] {
	padding-left: 40px;
}
.cp_iptxt input[type=email] {
	padding-left: 40px;
}
.cp_iptxt input[type=password] {
	padding-left: 40px;
}
.cp_iptxt i {
	position: absolute;
	top: 8px;
	left: 0;
	padding: 9px 8px;
	transition: 0.3s;
	color: #aaaaaa;
}
.cp_iptxt input[type=text]:focus + i {
	color: #da3c41;
}
.cp_iptxt input[type=email]:focus + i {
	color: #da3c41;
}
.cp_iptxt input[type=password]:focus + i {
	color: #da3c41;
}
.radius{
  border-radius: 50%;
}

/***** _post  ******/
.paper-result3{
  position: relative;
  top: -390px;
  left: 57px;
  font-family: 游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN","Hiragino Mincho Pro",HGS明朝E,メイリオ,Meiryo,serif;
  font-weight: bold;
  font-size: 14px;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  text-orientation: upright;
}
.paper-name{
  position: relative;
  top: -310px;
  left: 12px;
  font-family: 游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN","Hiragino Mincho Pro",HGS明朝E,メイリオ,Meiryo,serif;
  font-weight: bold;
  font-size: 14px;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  text-orientation: upright;
}
.one-post{
  float: left;
  height: 450px;
  position: static;
  left: -70px;
}
.delete{
  position: relative;
  top: 45px;
}
.emotion{
  position: relative;

}
/****ユーザーの編集ページ****/

.profile-image{
  margin: 15px 0 0 20px;
  width: 320px;

}
.change-image{
  display: inline-block;
  border: none;
  padding: 0;
}
.sub-bt{
  margin-left: 35px;
}

@media screen and (min-width: 769px) {
.search-btn{
  margin: 0;
  position: relative;
  top: -30px;
  left: 180px;
}
#form1{
  position: relative;
  left: -50px;
}
#form2{
  height: 35px;
}
}
