@media screen and (max-width: 768px) {
  
  .container2{
    margin-top: 150px;
  }
  /*    home    */
  
  
  #form1{
    width: 250px;
  }
  #form2{
    position: relative;
    height: 35px;
  }
  .btn-gradient-3d-orange{
    position: absolute;
    left: 250px;
    top: -45px;
  }
  #texta, #texta1{
    min-height: 80px;
    max-height: 80px;
    min-width: 130px;
    max-width: 130px;
  }
  #txtbox, #txtbox1{
    min-height: 280px;
    max-height: 280px;
    min-width: 130px;
    max-width: 130px;
  }
  .row {
    position: relative;
  }
  #paper, #paper1{
    margin: 0;
    position: absolute;
    top: -560px;
    left: 160px;
  }
  .paper-cha {
    position: absolute;
    top: -560px;
    left: -3px;
  }
  h1.first {
    padding-top: 40px;
  }
  .not-login{
    padding-top: 50px;
  }
  .sub{
    position: relative;
  }
  
  
  
  /*  header  */
  
  
  li{a{float: left;}}
  
  .search-btn{
  position: relative;
  
}


/* 登録フォーム */

div.cp_iptxt{
  margin: 10px 0 10px 20px;
  width: 80%;
}
}

